<!DOCTYPE html>
<html ng-app="store">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="StoreController as store">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products">
				<h3>
					{{product.name}}
					<em class="pull-right">{{product.price | currency }}</em>
				</h3>
				<p>{{product.sku}}</p>
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{ active:panel.isSelected(1)}">
							<a href ng-click="panel.selectTab(1)">Edit</a>
						</li>
						<li ng-class="{ active:panel.isSelected(2) }">
							<a href ng-click="panel.selectTab(2)">Delete</a>
						</li>
					</ul>
					<div class="panel" ng-show="panel.isSelected(1)">
						<form ng-submit="store.updateProduct(product)" novalidate>
							<input type="text" class="form-control" ng-model="product.name" required>
							<input type="text" class="form-control" ng-model="product.sku" required>
							<input type="number" class="form-control" ng-model="product.price" required>
							<input type="submit" value="Edit"/>
						</form>
					</div>
					<div class="panel" ng-show="panel.isSelected(2)">
						<h4>Are you sure?</h4>
						<form ng-submit="store.deleteProduct(product)">
							<input type="submit" value="Yes"/>
						</form>
					</div>
				</section>
			</li>
		</ul>
		<section>
			<form name="newProductForm" ng-submit="newProductForm.$valid && store.addProduct()" novalidate>
			  <div class="form-group">
			    <label>Product Name:</label>
			    <input type="text" class="form-control" placeholder="Enter product name" ng-model="store.newproduct.name"required>
			  </div>
			  <div class="form-group">
			    <label>SKU:</label>
			    <input type="text" class="form-control" placeholder="Enter SKU" ng-model="store.newproduct.sku" required>
			  </div>
			  <div class="form-group">
			    <label>Price ($):</label>
			    <input type="number" class="form-control" placeholder="19.20" ng-model="store.newproduct.price" required>
			  </div>
			  <input type="submit" value="Submit"/>
			</form>
		</section>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript" src="controllers/app.js"></script>
		<script type="text/javascript" src="services/products.js"></script>
	</body>
</html>